<!Doctype html>
<html data-ng-app="app1">
  <head></head>
  <body data-ng-controller="FilterController">
    <input data-ng-model="name"/>
    <ul>
      <li data-ng-repeat="customer in customers | filter:name | orderBy:customer.name">{{customer.name}} {{customer.city}}</li>
    </ul>
    <br/>
    Customer Name: <br />
    <input type="text" data-ng-model="newCustomer.name" />
    <br/>
    Customer City: <br />
    <input type="text" data-ng-model="newCustomer.city" />
    <br/>
    <button data-ng-click="addCustomer()">Add Customer</button>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="prac1.js"></script>
  </body>
</html>